*{
    margin: 0;
    padding: 0;
    border-box: box-sizing;
    font-family: "Poppins", san-serif;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    background: #f0f0f0;
}
a{
    color: #141414;
    font-size: 17px;
}
.container{
    width: min(100% - 30px, 840px);
    margin-inline: auto;
    padding: 1.7rem;
}

header{
    padding: 2rem 0;
    margin: 2rem 0;
    text-align: center;
}

header h2{
    font-size: 2.3rem;
    text-transform: uppercase;
    line-height: 2rem;
    color: #141414;
    font-weight: 700;
}
header p{
    font-size: 18px;
    color: #595959;
    padding: 1.3rem 0;
}

.note-container{
    padding: 20px;
    width: 100%;
    background: #fff;
}

.search-box {
  width: 70%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  margin: 0 auto;
}

.search-box input {
  width: 90%;
  border: 1px solid #f0f0f0;
  border-bottom: 2.8px solid #e3e3e3;
  border-radius: 50px;
  padding: 8px 15px;
  font-size: 18px;
  padding-right: 50px;
  transition: 300ms ease;
}
.search-box input:hover{
    border-bottom: 1px solid #f0f0f0;
}
.search-box img {
  position: absolute;
  right: 40px;
}

.note-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    justify-content: space-evenly;
    margin-top: 15px;
}

.note{
    position: relative;
    width: 98%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease;
    margin: 0 auto;
}

.note-title{
    background: #ccc;
    width: 100%;
    padding: 8px;
    position: relative;
}
.hamburger{
    width: 15px;
    height: 30px;
    background: #f0f0f0 url(../img/nav-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    position: absolute;
    border-radius: 7px;
    right: 30px;
    top: 5px;
    cursor: pointer;
}

.note-title .title{
    font-size: 18px;
    font-weight: 500;
}
.nav-container {
  position: absolute;
  right: 48px;
  top: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 140px;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 22;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-container ul li {
  margin: 10px 0;
}

.nav-container ul li a {
  color: #0a0a0a;
}

.nav-container ul li a:hover {
  color: #17e78c;
}

.note-title.active .nav-container {
  right: 52px;
  opacity: 1;
  visibility: visible;
}
.note-body{
    padding: 15px;
    width: 94%;
    position: relative;
    height: 120px;
    overflow: hidden;
}

.note-body::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #f0f0f0);
}

.note-body .note-body-text{
    font-size: 17px;
}

.note-date{
    color: #a1a1a1;
    font-weight: 200;
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.note:hover{
    box-shadow: none;
}

.note .more{
    position: relative;
    padding: 10px 15px;
    background: transparent;
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
    color: #17e78c;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
    margin-top: -35px;
}
.note .more::before{
    content: 'Read more'
}

.note.active .more::before{
    content: 'Read less'
}

.note.active .note-body{
    height: auto;
}

.note.active .note-body::before{
    display: none;
}


.note.active .more{
    color: #ff3b7e;
}
.action{
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    background: #17e78c;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    cursor: pointer;

}

.action span{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0a0a0a;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.action span a{
    color: #0a0a0a;
    text-decoration: none;
    font-size: 18px;
}

.action.active span{
    transform: rotate(135deg);
}

.action form{
    position: absolute;
    bottom: 55px;
    background: #fff;
    min-width: 390px;
    width: 390px;
    padding: 20px;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    display: block;
    flex-direction: columns;
}

.action.active form{
    bottom: 65px;
    opacity: 1;
    visibility: visible;
}

.action form input{
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    padding: 8px 5px;
    font-size: 18px;
    font-weight: 500;
    color: #0a0a0a;
}

.action form input::placeholder{
    font-size: 17px;
    color: #d9d9d9;
}

.action form textarea{
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    padding: 8px 5px;
    font-size: 16px;
    font-weight: 300;
    color: #0a0a0a;
}

.action form textarea::placeholder{
    font-size: 15px;
    color: #d9d9d9;
}

.action form textarea::-webkit-scrollbar{
    width: 0.3vw;
}

.action form textarea::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 10px;
}

.action form textarea::-webkit-scrollbar-track{
    background: #f0f0f0;
}

.action form textarea::-webkit-scrollbar-track:hover{
    filter: brightness(110%);
}

.action form .btn{
    margin: 0 auto;
    width: 90%;
}

.action form button{
    background: #2e80b0;
    color: #fff;
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: 19px;
    border-radius: 8px;
    transition: 0.2s ease;
}

.action form button:hover{
    background: #077ead;
}


