<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web note ~ My Todo</title>
    <link th:href="@{../style2.css}" href="../../static/style2.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <header>
            <h2>My Note</h2>
            <p>Let us help you start your day with a smile <br>by arranging your daily schedules</p>
        </header>
        <a th:href="@{/}" class="go-back-link"><spa class="arrow-head">&#8592;</spa>Back</a>
        <section class="form-container">
            <form class="form" action="saveNote" th:action="@{/saveNote}" th:object="${note}"  method="POST">
                <input type="hidden" th:field="*{id}">
                <input type="text"  th:field="*{title}" placeholder="Note title .....">
                <textarea th:field="*{body}"  placeholder="Note body..." cols="30" rows="10"></textarea>
                <div class="btn">
                    <button type="submit">Update</button>
                </div>
            </form>
        </section>
    </div>
</body>
</html>